<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Projeto Empréstimo::: Login</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Projeto Empréstimo" />
<link rel="icon" th:href="@{/image/favicon.ico}" />
<!-- Icons fontawesome -->
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous" rel="stylesheet" />
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>

<!-- Custom styles for this template -->
<link th:href="@{/css/style-login.css(v=${version})}" rel="stylesheet" />
</head>
<body>
	<div class="container" id="cadastro">
	        
	        	<div th:replace="fragments/alert"></div>
	        
	            <form th:action="${cliente.id == null} ? @{/cliente/salvar} : @{/cliente/editar}" 
	                  th:object="${cliente}" method="POST">
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="nome">Nome</label>
	                        <input type="text" class="form-control" id="nome" placeholder="Nome Completo"
	                               autofocus="autofocus" th:field="*{nome}" 
	                               th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{nome}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label for="nome">CPF</label>
	                        <input type="text" class="form-control" id="cpf" placeholder="cpf"
	                               autofocus="autofocus" th:field="*{cpf}" 
	                               th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{cpf}"></span>
	                        </div>
	                    </div>
	                </div>
	                 <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="nome">email</label>
	                        <input type="text" class="form-control" id="email" placeholder="Nome Completo"
	                               autofocus="autofocus" th:field="*{usuario.email}" 
	                               th:classappend="${#fields.hasErrors('usuario.email')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{usuario.email}"></span>
	                        </div>
	                    </div>
	                     <div class="form-group col-md-6">
	                        <label for="nome">Senha</label>
	                        <input type="text" class="form-control" id="senha" placeholder="senha"
	                               autofocus="autofocus" th:field="*{usuario.senha}" 
	                               th:classappend="${#fields.hasErrors('usuario.senha}')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{usuario.senha}}"></span>
	                        </div>
	                    </div>
	                </div>
	                 
	               
	                
	             
	               <!--  <input type="hidden" id="id" th:field="*{id}"/> -->
					<input type="hidden" id="usuario" th:field="*{usuario.id}"/>
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>
</body>
</html>
