<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
			<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>

			
				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active">Empréstimo</span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/emprestimo/cadastro"> <i class="oi oi-plus"></i> <span>Solicitação de Empréstimo </span>
					</a></li>
					
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Proposta</span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/cargos/cadastrar"> <i class="oi-spreadsheet"></i> <span>Acompanhamento das propostas </span>
					</a></li>
					
				</ul>

			</nav>
</body>
</html>